
.idea/

__pycache__/

nvd/

/log_file

/official-cpe-dictionary_v2.3.xml
/official-cpe-dictionary_v2.3.csv
/official-cpe-dictionary_v2.3.zip
/log_file.log

official-cpe-dictionary_v2.3TESTS.xml

*.csv
