
.idea/

__pycache__/

resources/cve/

/log_file

/resources/official-cpe-dictionary_v2.3.xml
/official-cpe-dictionary_v2.3.csv
/resources/official-cpe-dictionary_v2.3.zip
/log_file.log

*.log

*.xml

*.zip

*.csv

*.json

models/
